
@{
    ViewBag.Title = "Delete Post";
    Layout = "~/Views/Admin/AdminLayout.cshtml";
}

<h2>Delete Post</h2>
<form action="~/admin/blog/posts/@Model.PostId/delete" method="post">
    <div>Do you really want to delete <u>@Model.PostTitle</u> ?</div>
    <button type="submit">Delete</button>
</form>

