@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<h2>Manage</h2>
    <a href="~/blog/manage/posts">View Posts</a>
    <a href="~/blog/manage/addnewpost">Add New Post</a>
@RenderBody()